@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

.form_section {
  width: 60%;
  max-width: 900px;
  text-align: left;
  margin: auto;
}

h1{
  text-align: center;
}
#tapestry_info{
  border-color: black;
  border-radius: 10px;
}

.child1,.child2 {
  width: 50%;
  height: 100%;
  min-height: 250px;
  object-fit: cover;
  margin-left: 10px;
  margin-right: 10px;
}

.inputImage, .outputImage {
  box-sizing: border-box;
  border: 2px solid black;
  width: 100%;
  height: 100%;
  min-height: 250px;
  padding: 10px;
  border-radius: 10px;
}
.parent {
  width: 60%;
  height: 100%;
  min-height: 250px;
  display: flex;
  margin-bottom: 20px;
  margin: auto;
  max-width: 900px;
}

.next_options {
  text-align: left;
  width: 60%;
  max-width: 900px;
  margin: auto;
}

#next_button, #download_image {
  margin: 15px;
}

#myCanvas {
  border: 3px solid black;
}
#grid_container {
  text-align: right;
}
.scrollable-container {
  width: 60%; /* Adjust based on your requirement */
  height: 80vh; /* Adjust based on your requirement */
  overflow: auto;
  border: 2px solid #000; /* Optional: for visual clarity */
  position: relative;
}

.canvas {
  width: 1000px; /* Canvas width larger than the container */
  height: 1000px; /* Canvas height larger than the container */
  border: 2px solid black;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
